:root{
  --main-titleFont: ;
  --main-textFont: ;
}
body{
  background-image: linear-gradient(#c1cfe0, #956c7f);
}
.mainTitle{
  text-align: center;
}
/* img:hover {transform:scale(1.5);} */
img:hover{
  border-radius:50%;
  -webkit-border-radius:50%;
  box-shadow: 0px 0px 15px 15px #ec731e;
  -webkit-box-shadow: 0px 0px 15px 15px #ec731e;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  }



  @media only screen and (max-width: 600px) {
   img{
    width: 80%;
   }
   .row{
    display: flex;
    flex-direction: column;
   }
   iframe{
    width: 90%;
   }
  } 